#*************************************************************************************************
*	generate Action State
*###
#set($goal_tag = $action_content.getElementsByTagName("goal").item(0))
#set($name_tag = $action_content.getElementsByTagName("name").item(0))
#set($action_tag = $action_content.getElementsByTagName("action").item(0))
	${indent}smach_ros.SimpleActionState('$name_tag.getFirstChild().getNodeValue()',
	#if($goal_tag.getAttributes().item(0).getNodeValue() == "empty")
		${indent}$action_tag.getFirstChild().getNodeValue()Action)#if($continue),#end
	#elseif($goal_tag.getAttributes().item(0).getNodeValue() == "fixed")
		${indent}$action_tag.getFirstChild().getNodeValue()Action,
		#set($param_list = $goal_tag.getElementsByTagName("param"))
		#set($last = $param_list.getLength() - 1)
		#set($goal = ${action_tag.getFirstChild().getNodeValue()} + 'Goal(')
		${indent}goal=$goal#foreach($i in [0..$last])
			#if($i == $last)$param_list.item($i).getFirstChild().getNodeValue()))#if($continue),#end#else$param_list.item($i).getFirstChild().getNodeValue(), #end
		#end
	#elseif($goal_tag.getAttributes().item(0).getNodeValue() == "userdata")
		${indent}$action_tag.getFirstChild().getNodeValue()Action,
		#set($var_list = $goal_tag.getElementsByTagName("var"))
		#set($last = $var_list.getLength() - 1)
		${indent}goal_slots=[#foreach($i in [0..$last])
			#if($i == $last)'$var_list.item($i).getFirstChild().getNodeValue()'])#if($continue),#end#else'$var_list.item($i).getFirstChild().getNodeValue()', #end
		#end
	#elseif($goal_tag.getAttributes().item(0).getNodeValue() == "callback")
		${indent}$action_tag.getFirstChild().getNodeValue()Action,
		${indent}goal_cb=$action_tag.getFirstChild().getNodeValue().toLowerCase()_cb)#if($continue),#end
	#end