#set($startIndent = "		")
#!/usr/bin/env python

import rospy
import smach
import smach_ros
import mavros_msgs

from cpswarm_msgs.msg import *
from swarmros.msg import *


# define state Idle
class Idle(smach.State):

	def __init__(self):
		smach.State.__init__(self, outcomes=['succeeded', 'preempted'])

	def execute(self, userdata):
		rospy.loginfo('Executing state Idle')
		while True:
			# Check for preempt
			if self.preempt_requested():
				rospy.loginfo("Idle state has been preempted")
				self.service_preempt()
				return 'preempted'
			rospy.sleep(1.0)
			
		return 'succeeded'
		

def main():
	rospy.init_node('state_machine_node')
	
	# Create a TOP level SMACH state machine
	top_sm = smach.StateMachine(['succeeded', 'preempted', 'aborted'])
	
	# Open the container
	with top_sm:
#foreach($state in $scxml.children)
	#if($state.atomicState)
		#addAtomicToState($state, $startIndent)
	#elseif($state.class.simpleName == "State")
		#compositState($state, $startIndent)
		#addCompositeToState($state, $startIndent)
	#elseif($state.class.simpleName == "Parallel")
		#parallelState($state, $startIndent)
		#addConcurrenceToState($state, $startIndent)
	#end
#end
	
	# Create and start the introspection server (uncomment if needed)
	# sis = smach_ros.IntrospectionServer('smach_server', top_sm, '/SM_TOP')
	# sis.start()
	
	# Execute SMACH plan
	outcome = top_sm.execute()

	# Wait for ctrl-c to stop the application
	rospy.spin()
	# sis.stop()
	
	
if __name__ == '__main__':
	try:
		main()
	except rospy.ROSInterruptException:
		pass
#*************************************************************************************************
*	Generate code for parallel state
*###
#macro(parallelState $state $indent)

${indent}#  ===================================== ${state.id} =====================================
${indent}# Callback for custom outcomes from ${state.id} #
${indent}def out_cb(outcome_map):
	${indent}# To be completed
	${indent}return 'aborted'

${indent}# Create a Concurrence container
${indent}${state.id.toLowerCase()}_concurrence = smach.Concurrence(
#if(!$state.transitionsList.empty)
	${indent}outcomes=[#foreach($transition in $state.transitionsList)'$transition.event'#if($foreach.hasNext), #else, 'aborted'#end#end],
	${indent}default_outcome='$state.transitionsList.get(0).event',
	${indent}child_termination_cb=lambda so: True,
	${indent}outcome_cb=out_cb)
#else
	${indent}outcomes=['succeeded', 'preempted', 'aborted'],
	${indent}default_outcome='aborted',
	${indent}child_termination_cb=lambda so: True,
	${indent}outcome_cb=out_cb)
#end

${indent}# Open the container
${indent}with ${state.id.toLowerCase()}_concurrence:
	#foreach($sub_state in $state.children)
		#if($sub_state.atomicState)
			#addAtomicToConcurrence($sub_state, "$indent	")
		#elseif($sub_state.class.simpleName == "State")
			#compositState($sub_state, "$indent	")
			#addCompositeToConcurrence($sub_state, "$indent	")
		#elseif($sub_state.class.simpleName == "Parallel")
			#parallelState($sub_state, "$indent	")
			#addConcurrenceToConcurrence($sub_state, "$indent	")
		#end
	#end
${indent}#  ===================================== ${state.id} END =====================================
#end
#*************************************************************************************************
*	Generate code for composite state
*###
#macro(compositState $state $indent)

${indent}# ===================================== ${state.id} =====================================
${indent}# Create a State Machine container
${indent}${state.id.toLowerCase()}_sm = smach.StateMachine(
	#if(!$state.transitionsList.empty)
	${indent}outcomes=[#foreach($transition in $state.transitionsList)'$transition.event'#if($foreach.hasNext), #end#end])
	#else
	${indent}outcomes=['succeeded', 'preempted', 'aborted'])
	#end

${indent}# Open the container
${indent}with ${state.id.toLowerCase()}_sm:
	#foreach($sub_state in $state.children)
		#if($sub_state.atomicState)
			#addAtomicToState($sub_state, "$indent	")
		#elseif($sub_state.class.simpleName == "State")
			#compositState($sub_state, "$indent	")
			#addCompositeToState($sub_state, "$indent	")
		#elseif($sub_state.class.simpleName == "Parallel")
			#parallelState($sub_state, "$indent	")
			#addConcurrenceToState($sub_state, "$indent	")
		#end
	#end
${indent}#  ===================================== ${state.id} END =====================================
#end
#*************************************************************************************************
*	Add an Atomic State to a State Machine Container
*###
#macro(addAtomicToState $state $indent)

${indent}# ADD ${state.id} to#if(${state.getParent()}) ${state.getParent().id}#else TOP state#end #
${indent}smach.StateMachine.add('${state.id}',
	#if(!$state.invokes.empty)
		#if($state.invokes[0].type == "ROS_SERVICE")
			#set($service_content = $state.getDatamodel().getData().get(0).getParsedValue().getValue().getChildNodes())
			#set($continue=true)
			#parse("template/ros/atomic/ROS_service_state.vm")
		#elseif($state.invokes[0].type == "ROS_ACTION")
			#set($action_content = $state.getDatamodel().getData().get(0).getParsedValue().getValue().getChildNodes())
			#set($continue=true)
			#parse("template/ros/atomic/ROS_action_state.vm")
		#else
	${indent}# NOT_SUPPORTED
		#end
	#else
	${indent}# NOT_SUPPORTED
	#end
	${indent}transitions={#foreach($transition in $state.transitionsList)'$transition.event':'$transition.next'#if($foreach.hasNext), #end#end})
#end
#*************************************************************************************************
*	Add an Composite State to a State Machine Container
*###
#macro(addCompositeToState $state $indent)

${indent}# ADD ${state.id} to#if(${state.getParent()}) ${state.getParent().id}#else TOP state#end #
${indent}smach.StateMachine.add('${state.id}',
	${indent}${state.id.toLowerCase()}_sm,
	${indent}transitions={#foreach($transition in $state.transitionsList)'$transition.event':'$transition.next'#if($foreach.hasNext), #end#end})
#end
#*************************************************************************************************
*	Add a Concurrence State to a State Machine Container
*###
#macro(addConcurrenceToState $state $indent)

${indent}# ADD ${state.id} to#if(${state.getParent()}) ${state.getParent().id}#else TOP state#end #
${indent}smach.StateMachine.add('${state.id}',
	${indent}${state.id.toLowerCase()}_concurrence,
	${indent}transitions={#foreach($transition in $state.transitionsList)'$transition.event':'$transition.next'#if($foreach.hasNext), #end#end})
#end
#*************************************************************************************************
*	Add an Atomic State to a Concurrence Container
*###
#macro(addAtomicToConcurrence $state $indent)

${indent}# ADD ${state.id} to#if(${state.getParent()}) ${state.getParent().id}#else TOP state#end #
${indent}smach.Concurrence.add('${state.id}',
	#if(!$state.invokes.empty)
		#if($state.invokes[0].type == "ROS_SERVICE")
			#set($service_content = $state.getDatamodel().getData().get(0).getParsedValue().getValue().getChildNodes())
			#set($continue=false)
			#parse("template/ros/atomic/ROS_service_state.vm"))
		#elseif($state.invokes[0].type == "ROS_ACTION")
			#set($action_content = $state.getDatamodel().getData().get(0).getParsedValue().getValue().getChildNodes())
			#set($continue=false)
			#parse("template/ros/atomic/ROS_action_state.vm"))
		#elseif($state.invokes[0].type == "ROS_MONITOR")
			#set($monitor_content = $state.getDatamodel().getData().get(0).getParsedValue().getValue().getChildNodes())
			#set($continue=false)
			#parse("template/ros/atomic/ROS_monitor_state.vm"))
		#else
	${indent}# NOT_SUPPORTED
${indent})
		#end
	#else
	${indent}# NOT_SUPPORTED
${indent})
	#end
#end
#*************************************************************************************************
*	Add a Composite State to a Concurrence Container
*###
#macro(addCompositeToConcurrence $state $indent)

${indent}# ADD ${state.id} to#if(${state.getParent()}) ${state.getParent().id}#else TOP state#end #
${indent}smach.Concurrence.add('${state.id}', ${state.id.toLowerCase()}_sm)
#end
#*************************************************************************************************
*	Add a Concurrence State to a Concurrence Container
*###
#macro(addConcurrenceToConcurrence $state $indent)

${indent}# ADD ${state.id} to#if(${state.getParent()}) ${state.getParent().id}#else TOP state#end #
${indent}smach.Concurrence.add('${state.id}', ${state.id.toLowerCase()}_concurrence)
#end